<h1>Name</h1>
<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td class="artist"><%= artist.name %></td>
        <td class="link"><%= link_to 'Show', artist %></td>
        <td class="link"><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>
