<h1>Listing tunes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @artist.tunes.each do |tune| %>
      <tr>
        <td><%= tune.name %></td>
        <td><%= link_to 'Show', artist_tune_path(@artist, tune) %></td>
        <td><%= link_to 'Edit', edit_artist_tune_path(@artist, tune) %></td>
        <td><%= link_to 'Destroy', [@artist, tune ], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tune', new_artist_tune_path %>
